import gspread
from oauth2client.service_account import ServiceAccountCredentials
import telebot



def create_keyfile_dict():
    variables_keys = {
        "type": "you",
        "project_id": "you",
        "private_key_id": "you",
        "private_key": "-----BEGIN PRIVATE KEY-----\you
                       "---END PRIVATE KEY-----\n",
        "client_email": "you",
        "client_id": "you"
        "auth_uri": "you",
        "token_uri": "you",
        "auth_provider_x509_cert_url": "you",
        "client_x509_cert_url": "you"
                                "you",
        "universe_domain": "you"
    }
    return variables_keys


# Указываем данные для доступа к Google Таблицам
scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']
creds = ServiceAccountCredentials.from_json_keyfile_dict(create_keyfile_dict(), scope)
client = gspread.authorize(creds)

# Открываем Google Таблицу
spreadsheet = client.open('You sheets')
worksheet = spreadsheet.sheet1

bot = telebot.TeleBot('you tokin')
bot.set_webhook()


# Обработка команды /start
@bot.message_handler(commands=['start'])
def start(message):
    bot.reply_to(message,
                 "Добро пожаловать! Чтобы сделать предзапись на онлайн видеоурок, введите контактный номер теле"
                 "фона.")


# Обработка текстовых сообщений
@bot.message_handler(func=lambda message: True)
def handle_message(message):
    # Получаем имя и номер телефона из сообщения пользователя
    name = message.from_user.first_name
    phone = message.text

    # Проверяем, есть ли такая запись в таблице
    records = worksheet.get_all_records()
    for record in records:
        if record['Никнейм в тг'] == name and record['Номер телефона'] == phone:
            bot.reply_to(message, "Вы уже записаны на онлайн по маникюру.")
            return
        

    # Если записей с такими данными еще нет, добавляем новую запись в таблицу
    new_record = [name, phone]
    worksheet.append_row(new_record)
    bot.reply_to(message, 'Привет!На связи бот Васильевой Елизаветы @elizaveta.nails_30 не буду спамить!'

'Поздравляю Вас с вступлением лист предзаписи  на онлайн видео-урок «КОРРЕКЦИЯ ТОЛЬКО ГЕЛЕМ»,в котором я научу вас авторской технике укрепления маникюра,только одним гелем.'

'Для тех кто в предзаписи открываются ранние продажи видео-урока,по самым выгодным ценам!'

'Вам нужно всего лишь ждать от меня сообщения о старте продаж!🔥'

'До встречи!')

# Запускаем чат-бота

bot.polling()
